table {
    width: 98.4%;
    margin-left: 0.8%;
    margin-right: 0.8%;
}
h1 {
    margin-top: 0;
    padding: 0.8%;
    /* color: #89aeea; */
    color: #3a5f99;
}
.container {
    height: 98%;
}
.container-tabela {
    height: 75vh;
    overflow: auto;
}
.mat-header-cell {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.mat-cell {
    text-align: center;
    justify-content:center;
}
.mat-icon-button {
    color: #87CEEB;
}