mat-form-field {
    margin-top: 0.8%;
    margin-bottom: 0.8%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 18%;
}
row {
    margin-top: 50px;
}
#divRegistro {
    border: #87CEEB;
    border-style: ridge;
}
#divCadastro {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#informacoesPaciente {
    padding-top: 0.8%;
}
#informacoesPessoaisPaciente {
    border: #87CEEB;
    border-style: solid;
}
#botaoSubmeter {
    background-color: #87CEEB;
    color: whitesmoke;
    margin-left: 3%;
}
legend {
    color: #87CEEB;
    font-size: 20px
}
/* #enderecoPaciente {
    padding-right: 10px;
    padding-left: 10px;
} */