mat-toolbar {
    background-color: #87CEEB;
    color: whitesmoke;
}
#iconeAdicionar, #iconeListar {
    margin: 2px;
}
#principal {
    height: 100vh;
    background-image: url('../../consultorio.jpg');
    /* background-size: cover; */
    /* background-color: red; */
    background-size: cover;
}
#conteudo {
    background-color: whitesmoke;
    margin-left: 1%;
    margin-right: 1%;
    height: 90%;
}