mat-toolbar {
    background-color: #87CEEB;
    color: white;
    width: 100%;
}
.espacador {
    flex: 1 1 auto;
    text-align: center;
}
#botaoHome {
    font-size: 20px;
}
#iconeAdicionar, #iconeListar {
    margin: 2px;
}
#toolbar {
    height: 10vh;
}
#principal {
    height: 90vh;
    background-image: url('../../consultorio.jpg');
    /* background-size: cover; */
    /* background-color: red; */
    background-size: cover;
}
#conteudo {
    /* background-color: whitesmoke; */
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    width: 98%;
    height: 100%;
}