mat-toolbar {
    background-color: #87CEEB;
    color: white;
    width: 100%;
}
.espacador {
    flex: 1 1 auto;
    text-align: center;
}
#botaoHome {
    font-size: 20px;
}
#toolbar {
    height: 10vh;
}
#conteudo {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    width: 98%;
    height: 100%;
}
mat-radio-button {
    margin-right: 1.2%;
}
mat-form-field {
    margin-top: 0.8%;
    margin-bottom: 0.8%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 18%;
}
.mat-button {
    background-color: #87CEEB;
    color: whitesmoke;
    margin-top: 1.2%;
}
legend {
    padding: 1.2%;
    padding-top: 0%;
    color: #3a5f99;
}
mat-card {
    padding-bottom: 8px;
    margin-top: 1.2%;
    margin-right: 0.8%;
    margin-left: 0.8%;
    margin-bottom: 1.2%;
}
h2 {
    color: #3a5f99;
}