table {
    width: 100%;
}
.mat-header-cell {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.mat-cell {
    text-align: center;
    justify-content:center;
}
h2 {
    color: #3a5f99;
}
button {
    background-color: #87CEEB;
    color: whitesmoke;
}